
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body>
    <%- include("../partials/nav")  %> 
    <div class="container-fluid bg-page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-3  text-uppercase" style="color:#B49C73"><%=blogs.baslik %></h3>
                <div class="d-inline-flex text-white">
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase"><%=blogs.baslik %></p>
                  
                </div>
            </div>
        </div>
    </div>
    <p><%-blogs.aciklama %></p>
    <!-- Page Header End -->

<!-- Features Start -->



<div class="container-fluid bg-secondary text-white pt-5 px-sm-3 px-md-5" style="margin-top: 90px;">
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
                <i class="fa fa-2x fa-map-marker-alt text-primary"></i>
                <div class="ml-3">
                    <h5 class="text-white">Adres</h5>
                    <p class="m-0">Altayçeşme Mah. Bolayır Sk.
                        Şebnem Apt. No:1 Daire:2
                        Maltepe/İstanbul</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
                <i class="fa fa-2x fa-envelope-open text-primary"></i>
                <div class="ml-3">
                    <h5 class="text-white">Mail </h5>
                    <p class="m-0">yasemin@topsakalhukuk.com</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
                <i class="fa fa-2x fa-phone-alt text-primary"></i>
                <div class="ml-3">
                    <h5 class="text-white">Telefon</h5>
                    <p class="m-0">0539 462 71 15</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5 d-flex justify-content-center">
        <iframe src="W4GJ+84 Maltepe, İstanbul" width="400" height="300"></iframe>



    </div>
    <div class="row p-4 mt-5 mx-0" style="background: rgba(256, 256, 256, .05);">
        <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0 text-white"><a href="">&copy;</a> <a class="font-weight-bold" href="#">Topsakal & Boğa
                    Hukuk Bürosu</a>. Tüm hakları saklıdır.</p>
        </div>

    </div>
</div>
</body>
<!-- Features End -->




